h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #40D6FF;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

body{
  background-image: url('https://i.pinimg.com/originals/cf/b0/7f/cfb07fa6a9d12ff935a2bfcef88e8cc8.jpg');
}

table{ 
  margin: 0 auto;
}

/* top right bottom left */
td{
  margin: 0 auto;
  padding: 0;
  width: 100px;
  height: 200px;
  max-width: 100px;
  outline: 3px solid rgb(0, 0, 121); 
  text-align: center;
  font-size: 130px;
  color: darkblue;
  font-family: 'Poppins', sans-serif;
  background-color: lightpink;
  
}

tr{
  margin: 0 auto;
  /* outline: 3px solid blue; */
}

button{
  width: 70px;
  height: 35px;
  margin: 0px auto 5px auto;
  display: block;
}
